---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

Research interests
<p>
My research interests cover galaxy formation and evolution, dynamics of galaxies and galaxy clusters, dark matter, tesing gravity, and cosmology. 
I use a variety of techniques including observational data analysis, statistical analysis of big dataset, numerical calculate and theoretical derivation. 
Three directions that currently interest me are: <br/>
(1) Studying how the interplay between dark matter halos and bayonic disks could affect my understanding of dark matter.  <br/>
(2) Measuring the dynamical mass profiles for galaxy cluster using various approaches to study cluster dynamics.  <br/>
(3) Testing if there exists universal scaling relations, which could uncover underlying regularities during complex physical processes.  <br/>
</p>

Publication
<br/>
<div class="wordwrap">My publication list is available at <a href="https://ui.adsabs.harvard.edu/user/libraries/Mn66PU1HSfKWzXUKUcdauQ">NASA/ADS</a>.</div>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



